$small-mobile: 400px;
$medium-mobile: 500px;
$large-mobile: 600px;

$small-desktop: 800px;
$medium-desktop: 1000px;
$large-desktop: 1200px;

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 0 auto;

  .nav-title {
    display: grid;
    grid-template-columns: 1fr 25px;
    column-gap: 0.1em;
    margin-top: 2em;

    #nav-logo {
      width: 50px;
    }

    .nav-logged-in-user {
      #nav-logged-in-user-profileimg {
        width: 25px;
      }
    }
  }

  .navbar-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    text-align: center;

    @mixin grow {
      &:hover {
        cursor: pointer;
        animation: grow 1s forwards;

        @keyframes grow {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(2);
          }
        }
      }
    }

    :nth-child(1) {
      border: 3px solid red;
      @include grow;
    }

    :nth-child(2) {
      border: 3px solid blue;
      @include grow;
    }

    :nth-child(3) {
      border: 3px solid green;
      @include grow;
    }

    :nth-child(4) {
      border: 3px solid orange;
      @include grow;
    }
  }

  .nav-theme-switcher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

    .nav-theme-switcher-outer-box {
      width: 50px;
      height: 25px;
      position: relative;

      .nav-theme-switcher-inner-box {
        width: 25px;
        height: 23px;
        position: absolute;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
      }

      #nav-light-logo,
      #nav-dark-logo {
        position: absolute;
        font-size: 20px;
        top: 2px;
        transition: opacity 0.3s ease-in-out;
      }

      #nav-dark-logo {
        left: 2px;
        color: whitesmoke;
        opacity: 1;
      }

      #nav-light-logo {
        right: 2px;
        color: black;
        opacity: 1;
      }
    }

    .nav-theme-switcher-custom {
      font-size: 10px;
      color: #0a58ca;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: #3370ca;
      }
    }
  }
}

.theme-switcher-dark {
  .nav-theme-switcher-inner-box {
    transform: translateX(25px);
  }
}

.theme-switcher-light {
  .nav-theme-switcher-inner-box {
    transform: translateX(0);
  }
}

@media screen and (max-width: 799px) {
  .navbar-container {
    display: grid;
    grid-template-columns: 1;
    text-align: center;
    justify-content: center;

    .navbar-links {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1em;

      @mixin grow {
        &:hover {
          cursor: pointer;
          animation: grow 1s forwards;

          @keyframes grow {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.5);
            }
          }
        }
      }

      :nth-child(1) {
        border: 3px solid red;
        @include grow;
      }

      :nth-child(2) {
        border: 3px solid blue;
        @include grow;
      }

      :nth-child(3) {
        border: 3px solid green;
        @include grow;
      }

      :nth-child(4) {
        border: 3px solid orange;
        @include grow;
      }
    }
  }
}
