.app {
  background-color: aquamarine;
  height: 100dvh;
  width: 100dvw;
}

.darkmode {
  color: whitesmoke;
  background-color: #242424;
  transition: 1s;
}

.lightmode {
  color: black;
  background-color: #dcdcdc;
  transition: 1s;
}
